.profil {
    justify-content: center;
    background: #fff;
    border: 1px solid #000;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    height: 400px;
    text-align: center;
    width: 500px;
    padding: 50px;
    margin: 20px 100px 20px 100px;
  }

.navigation {
    justify-content: space-around;
    align-self: center;
    align-content: center;
    align-items: center;
    
  }

.lastcom {
    height: 30px;
    border: 1px solid #000;
    float: left;
    text-align: left;
    width: 700px;
    padding: 50px;

}